save/*
data/*
dataset/*
image/*
save_baseline/*
!dataset/CF_OCTA_v2_repaired/cf_octa_v2_repaired_dataset.py
!dataset/FIVES_extract_v2/FIVES_extract_v2.py
!dataset/operation_pre_filtered_cffa/operation_pre_filtered_cffa_dataset.py
!dataset/operation_pre_filtered_cfoct/operation_pre_filtered_cfoct_dataset.py
!dataset/operation_pre_filtered_octfa/operation_pre_filtered_octfa_dataset.py
weights/*